<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.takai.study_project">

    <application
        android:allowBackup="true"
        android:icon="@drawable/study_logo_prototype_3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseActivity"
            android:label="@string/title_activity_course_page"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.HomeActivity" />
        </activity>
        <activity
            android:name=".TimetableActivity"
            android:label="@string/title_activity_time_table"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.HomeActivity" />
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.HomeActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.HomeActivity" />
        </activity>
        <activity
            android:name=".AssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.HomeActivity" />
        </activity>
        <activity
            android:name=".SettingsNotificationActivity"
            android:label="@string/title_activity_settings_notification"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.SettingsActivity" />
        </activity>
        <activity
            android:name=".SettingsAccountActivity"
            android:label="@string/title_activity_settings_account"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.SettingsActivity" />
        </activity>
        <activity
            android:name=".SettingsCourseActivity"
            android:label="@string/title_activity_settings_course"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.SettingsActivity" />
        </activity>
        <activity
            android:name=".SettingsSRSActivity"
            android:label="@string/title_activity_settings_srs"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.SettingsActivity" />
        </activity>
        <activity
            android:name=".SettingsMiscellaneousActivity"
            android:label="@string/title_activity_settings_miscellaneous"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.SettingsActivity" />
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ModuleActivity"
            android:label="@string/title_activity_module"
            android:parentActivityName=".CourseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.takai.study_project.CourseActivity" />
        </activity>
    </application>

</manifest>
